Data_Structure(2-1)/자료구조.zip
Data_Science(2-1)/practice.py
Data_Structure(2-1)/Week2/week2_exercise_notebooks
Data_Science(2-1)/Week2/Lecture2_Digital_Data.pdf
Data_Science(2-1)/Week2/Lecture3_Python-part1.pdf
Data_Science(2-1)/Week3/Lecture4_Python-part2.pdf
Data_Science(2-1)/Week3/Lecture5_Numpy-part1.pdf
Data_Structure(2-1)/Week3